.el-date-editor {
  input {
    max-width: 100%;
  }
}

.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 100% !important;
}


.el-date-editor--time-select {
  input {
    max-width: 150px;
  }
}

.el-range-editor.el-input__inner {
    //border-radius: 25px;
}

.el-range-separator {
    width: 20px;
    color: gray !important;
}


.to {
    height: 35px;
    line-height: 35px;
    display: inline-block;
    width: 25px;
    color: gray;
}
